
.wrapper1{
    width: 272px;
    background-color: black;
    text-align: center;
    color: #FFF;
    padding-top: 5px;
    margin: 0 auto;
    
}

ul{
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
    margin: 0;
    padding: 0;
   
}
ul li{
    text-align: center;
   
}
.number{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}

.title{
    background-color: white;
    color: black;
    padding: 15px 0;
    margin: 0;
}
.logo{
    text-align: right;
}
.chance{
    padding: 15px 0;
}

.title_title1{
    margin: 0;
}
.title_title2{
    margin: 0;
    text-align: center;
    font-weight: 900;
}